
@{
    ViewBag.Title = "Отчеты";
    DateTime start = ViewBag.docFilter.dateFrom;
    DateTime end = ViewBag.docFilter.dateTo;  
}


<div class="page-header">
    <h2>Отчеты</h2>
</div>

<div class="container">
    <div class="row">
        @using (Html.BeginForm("OpReport", "Reports", FormMethod.Post, new { @class = "form-inline col-lg-offset-2", @target = "_blank" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label class="control-label col-md-1 text-right">Период:</label>
            </div>
            <div class="form-group">
                <div class="col-md-2"> @Html.TextBox("dateFrom", start.ToShortDateString(), new { @class = "form-control data-input text-center" }) </div>
            </div>
            <div class="form-group">
                <div class="col-md-2"> @Html.TextBox("dateTo", end.ToShortDateString(), new { @class = "form-control data-input text-center" }) </div>
            </div><div class="form-group">
                <div class="col-md-2"> @Html.DropDownList("BranchID", ViewBag.Branch as SelectList, "Выберите отделение", new { @class = "form-control" })</div>
            </div>
            <div class="form-group">
                <div class="col-md-2"> <button type="submit" class="btn btn-primary">Применить</button> </div>
            </div>
        }
    </div>
 
</div>

